
@{
    ViewBag.Title = "Index";
}

<h2>Movies List</h2>
<div id="gridMovies" style="margin:20px;background-color:lightgoldenrodyellow;color:darkblue"></div>
@section scripts {
    <script type="text/javascript" src="https://jqwidgets.com/jquery-widgets-demo/scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://jqwidgets.com/jquery-widgets-demo/jqwidgets/jqx-all.js"></script>
    <link rel="stylesheet" type="text/css" href="https://jqwidgets.com/jquery-widgets-demo/jqwidgets/styles/jqx.base.css" />
    <script type="text/javascript">
        $(document).ready(function () {
            // In this part, you need to prepare your data
            var source =
            {
                datatype: "json",
                datafields: [



                    { name: 'MId', type: 'number' },
                    { name: 'MName', type: 'string' },
                    { name: 'StarCast', type: 'string' },
                    { name: 'Producer', type: 'string' },
                    { name: 'Director', type: 'string' },
                    { name: 'ReleaseDate', type: 'date' }

                ],
                url: 'https://localhost:44363/odata/Movies'
            }
            var dataAdapter = new $.jqx.dataAdapter(source);
            // displaying data in the grid with jqxGrid
            $("#gridMovies").jqxGrid(
                {
                    width: 1000,
                    source: dataAdapter,
                    pageable: true,
                    sortable: true,
                    columns: [



                        { text: "Movie Id", datafield: "MId", cellsalign: 'center' },
                        { text: "Movie Name", datafield: "MName", cellsalign: 'center' },
                        { text: "StarCast", datafield: "StarCast", cellsalign: 'center' },
                        { text: "Producer", datafield: "Producer", cellsalign: 'center' },
                        { text: "Director", datafield: "Director", cellsalign: 'center' },
                        { text: "Release Date", datafield: "ReleaseDate", cellsalign: 'center' }

                    ]
                });
        });
    </script>
}
